.member {
  width: 100vw;
  height: 100vh;
  padding: 0 10px;
  background: #ffffff;
  &__message {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__image {
    width: 100%;
    height: 100%;
  }
  &__user {
    height: 128px;
    margin-left: 20px;
  }
  &__name {
    height: 56px;
    margin-top: 5px;
    font-size: 38px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000000;
    line-height: 56px;
  }
  &__power {
    height: 40px;
    margin-top: 5px;
  }
  &__weather-btn {
    height: 50px;
    position: absolute;
    right: 20px;
    padding: 0 15px;
    border-radius: 50px;
    background-color: aqua;
  }
}
