.forecast-weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    &__item{
      margin-bottom: 10px;
    }
    &__box{
      margin-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      &:last-child{
        border: none;
      }
    }
  }